# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Datasets
dataset/

# Generated data
generated/
generated_dataset/

# Logs
logs/

# Temporary outputs
outputs/
plots/

# Model checkpoints
checkpoints/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db